body {
  background-color: rgb(31, 29, 26);
  color: red;
  margin: 20px;
}

.sidebar {
  float: right;
  background-color: slategray;
  color: red;
  box-sizing: border-box;
  border: solid red 3px;
  padding: 5px;
}

li {
  list-style-type: '🎸';
  font-size: larger;
}

.main {
  box-sizing: border-box;
  width: 55%;
  border: solid red 30px;
  padding: 5px;
}

img {
  width: 55%;
  border: solid red 3px;
}